.navbar-bg {
    position: absolute;
    top: 0px;
    left: calc(50% - 756px);
    background-color: #fafafa;
    width: 1512px;
    height: 120px;
}
.home {
    position: absolute;
    top: 0px;
    left: calc(50% - 252.5px);
    font-weight: 500;
}
.explore {
    position: absolute;
    top: 0px;
    left: calc(50% - 146.5px);
    font-weight: 500;
}
.rooms {
    position: absolute;
    top: 0px;
    left: calc(50% - 30.5px);
    color: #7c6a46;
    cursor: pointer;
}
.about {
    position: absolute;
    top: 0px;
    left: calc(50% + 83.5px);
    font-weight: 500;
    cursor: pointer;
}
.contact {
    position: absolute;
    top: 0px;
    left: calc(50% + 190.5px);
    font-weight: 500;
}
.links {
    position: absolute;
    top: 16px;
    left: calc(50% - 315.32px);
    width: 505px;
    height: 23px;
}
.btn-child {
    position: absolute;
    top: 0px;
    left: calc(50% - 82.5px);
    border-radius: 5px;
    background-color: #7c6a46;
    width: 165px;
    height: 55px;
}
.book-now {
    position: absolute;
    top: 16px;
    left: calc(50% - 36.5px);
    font-weight: 500;
}
.btn {
    position: absolute;
    top: 0px;
    left: calc(50% + 470.68px);
    width: 165px;
    height: 55px;
    cursor: pointer;
    color: #fff;
}
.logo-icon {
    position: absolute;
    height: 57.27%;
    width: 4.35%;
    top: 21.82%;
    right: 95.65%;
    bottom: 20.91%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.nav-links {
    position: absolute;
    top: 32px;
    left: calc(50% - 635.33px);
    width: 1271.3px;
    height: 55px;
}
.navbar {
    width: 100%;
    position: relative;
    height: 120px;
    text-align: left;
    font-size: 15px;
    color: #000;
    font-family: Poppins;
}

